*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

header{
    background-color: rgb(0, 0, 45);
    padding: 30px 0 10px 0;
    position: sticky;
    top: 0;
}

header h1{
    margin: 0;
    height: 5vh;
    color: white;
    text-align: center;
    font-size: 1.7rem;
}

header nav{
    width: 500px;
    margin: auto;
}

header nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

header nav ul li a{
    color: white;
    font-size: .9rem;
}

#pagina-main{
    background-color: rgb(172, 172, 172);
    padding: 10px 0;
}

#pagina-main h1{
    margin: 0;
}

#pagina-main :is(#datos-extras, #sobre-mi, #mis-proyectos){
    width: 70%;
    background-color: white;
    padding: 8px 10px;
    margin: 10px auto;
    border-radius: 10px;
}

#pagina-main section article{
    line-height: 4px;
    padding: 4px;
}

footer{
    background-color: rgb(0, 0, 45);
    width: 100%;
    display: flex;
    padding: 30px 0;
    text-align: center; 
    align-items: center;
}

footer h2{
    color: white;
    margin: 0 auto;
    width: 300px;
    font-size: 1.2rem;
}
