*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    margin: 0;
}

header{
    background-color: rgb(0, 0, 45);
    padding: 25px 0 10px 0;
    position: sticky;
    top: 0;
}

header h1{
    margin: 0;
    height: 5vh;
    color: white;
    text-align: center;
    font-size: 1.7rem;
}

header nav{
    width: 500px;
    margin: auto;
}

header nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

header nav ul li a{
    color: white;
    font-size: .9rem;
    text-decoration: none;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(202, 202, 202);
}

header nav ul li a:hover{
    border-radius: 10px;
    color: black;
    box-shadow: 0 0 6px rgb(204, 204, 204);
    background-color: rgb(172, 172, 172);
}

#pagina-main{
    background-color: rgb(144, 144, 144);
    padding: 10px 0;
}

#pagina-main h1{
    margin: 0;
}

#pagina-main #sobre-mi p, #pagina-main :is(#datos-extras, #mis-proyectos) p:first-child{
    margin-top: 6px;
}

#pagina-main :is(#datos-extras, #sobre-mi, #mis-proyectos){
    width: 70%;
    background-color: rgb(247, 247, 247);
    padding: 8px 10px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(204, 204, 204);
}

#pagina-main section article{
    line-height: 4px;
    padding: 4px;
}

footer{
    background-color: rgb(0, 0, 45);
    width: 100%;
    display: flex;
    padding: 30px 0;
    text-align: center; 
    align-items: center;
}

footer h2{
    color: white;
    margin: 0 auto;
    width: 300px;
    font-size: 1.2rem;
}

/* RESPONSIVE */

@media (max-width: 700px) {
    
    header h1{
        width: 70%;
        margin: auto;
        font-size: 1.2rem;
    }

    header nav{
        width: 80%;
    }

    #pagina-main :is(#datos-extras, #sobre-mi, #mis-proyectos){
        width: 90%;
    }

    #pagina-main h1{
        font-size: 1.4rem;
    }

    #pagina-main p{
        font-size: .9rem;
    }

    footer{
        display: block;
        padding: 20px 0;
    }

    footer h2{
        padding: 10px 0;
        width: 100%;
        font-size: .9rem;
    }
}